<!-- views/thankyou.ejs -->

<section class="section thankyou-container">
  <div class="thankyou-image">
    <img src="/images/thankyou.png" alt="Thank You">
  </div>
  <div class="thankyou-content">
    <h1 class="thankyou-title"><%= title %></h1>
    <p class="thankyou-message">You have successfully subscribed.</p>
    <a href="/" class="nav-button">Go Back Home</a>
  </div>
</section>