<div class="welcome-container">
  <div class="welcome-image">
    <img src="images/fruit.jpg" alt="Fresh fruits for cooking inspiration">
  </div>
  <div class="welcome-content">
    <h1>Welcome!</h1>
    <p>Check out all the cool recipes we have for you!</p>
    <p>If you want to explore a cooking course, click 
      <a href="/courses" class="highlight-link">here</a> and start learning!</p>
    <p>You can also 
      <a href="/contact" class="highlight-link">subscribe here</a>. Soon, you'll be cooking delicious meals at home!</p>
  </div>
</div>