<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recipe App</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/recipe_app.css">
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar">
    <div class="navbar-left">
      <h1 id="title">Recipe App</h1>
    </div>
    <div class="navbar-right">
      <a href="/" class="nav-button">Home</a>
      <a href="/courses" class="nav-button">Cooking Courses</a>
      <a href="/contact" class="nav-button">Contact</a>
    </div>
  </nav>

  <!-- Main Content -->
  <main class="main-container">
    <%- body %>
  </main>
</body>

</html>