<div class="thankyou-container">
  <div class="thankyou-image">
    <img src="/images/graph.png" alt="Submission Success">
  </div>
  <div class="thankyou-content">
    <h1>Thank you for submitting!</h1>
    <p>
      Go back to 
      <a href="/" class="highlight-link">home</a>!
    </p>
  </div>
</div>