<div class="welcome-section container">
  <!-- Left Column: Image -->
  <div class="welcome-image">
    <img src="images/people.jpg" alt="Chefs at work">
  </div>

  <!-- Right Column: Welcome Text -->
  <div class="welcome-content">
    <h1>Welcome!</h1>
    <p>
      Please check out all the cool new courses by our innovative and creative chefs.
    </p>
    <p>
      If you want to see a new course, click 
      <a href="/courses.html" class="link">the courses page</a> and explore!
    </p>
    <p>
      When you see a course you like you can 
      <a href="/contact.html" class="link">contact us to join!</a> 
      Soon you'll be cooking in your own home.
    </p>
  </div>
</div>